@layer theme {
  :root,
  :host {
    --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, Menlo, Monaco,
      Consolas, "Liberation Mono", "Courier New", monospace;
    --text-3xl: 1.875rem;
    --text-3xl--line-height: calc(2.25 / 1.875);
    --font-weight-bold: 700;
    --default-font-family: var(--font-sans);
    --default-mono-font-family: var(--font-mono);
  }
}

@theme {
  --color-clifford: #c60000;
}

.divider {
  background-color: rgb(0, 94, 245);
  width: 100%;
  height: 1px;
  background-color: #4f4f4f;
}

li a:hover {
  background-color: #4f4f4f;
}

main {
  padding: 10px 20px;
}

.has-children:hover .dropdown {
  display: block;
  position: absolute;
  top: 30px;
  padding: 10px 5px;
}

.dropdown {
  display: none;
}

.me {
  color: rgb(255, 199, 199);
  font-weight: 400;
}

span.dividerplus {
  font-size: 200px;
  font-weight: 100 !important;
}

.green-light {
  color: rgb(5, 255, 5);
}

.project-link {
  text-decoration: underline;
  color: rgb(56, 231, 56);
}

.boxxx {
  display: flex;
}

.professional-summary {
  max-width: 700px;
  background-color: rgb(43, 42, 42);
  padding: 20px;
}

h1 {
  font-style: italic;
  font-weight: 900;
}

.professional-summary h2 {
  font-weight: bolder;
}
